.selected {
    background-color: lightblue;
}

.object-list {
    text-align: center;
    padding: 20px;
    background-color: #f5f5f5;
}

.question-container {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.question {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.options-list {
    list-style: none;
    padding: 0;
}

.option-item {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.option-item.selected {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

.next-button {
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.next-button:hover {
    background-color: #0056b3;
}
